
<p style="margin-left: 20px">
    <span class="h1">FAQ (PERGUNTAS FREQUENTES)</span>
    <br>
    <br>
    <b class="fs-5">- Você é chinês, coreano ou japonês?</b><br>
    Sou decendente de japoneses. Meus avós vieram do Japão, então sou San-sei, ou seja, terceira geração.<br>
    <br>
    <b class="fs-5">- O que você faz da vida?</b><br>
    Atualmente trabalho em uma multinacional do setor automotivo. Sou analista da qualidade, responsável por acompanhar
    o desenvolvimento de novos projetos principalmente.<br>
    <br>
    <b class="fs-5">- O que você conhece sobre programação e web design?</b><br>
    Sempre tive como hobby apenas. Comecei com HTML na época do colégio, um amigo me apresentou e acabei gostando. Como
    complemento ao HTML comecei a pesquisar sobre CSS e Javascript. Desde então me aventurei em outras linguagens de
    programação como Python, C++ e VBA.<br>
    <br>
    <b class="fs-5">- Qual é a sua formação?</b><br>
    Sou tecnólogo em Mecatrônica Industrial e pós-graduado em Gestão de Projetos.<br>
    <br>
    <b class="fs-5">- Você fala japonês?</b><br>
    すこしだけ。。。<br>
    <br>
    <b class="fs-5">- Já foi pro Japão?</b><br>
    Não. Tenho uma irmã que mora lá. Meu irmão já foi também. E tenho um tio e umas tias que moram lá. Mas eu nunca
    fui.<br>
    <br>
    <b class="fs-5">- Não tem vontade?</b><br>
    Se for pra passear sim.<br>
    <br>
    <b class="fs-5">- Você é um Nerd?</b><br>
    Sim. E você também. 🤓<br>


</p>